body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./Images/rust.jpg');
  background-size: cover;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  height: 5vh;
  background-color: red;
  background-image: url('./Images/Steel.jfif');
  background-size: cover;  
  opacity: 30%;
}

footer {
  height: 5vh;
  background-color: red;
  background-image: url('./Images/Steel.jfif');
  background-size: cover;  
  opacity: 15%;
}

spacer{
  background-color: aqua;
  padding: 10vh;
}
